.chamada__youtube {
  background-color: #2e4255;
  display: grid;
  justify-items: center;
}

.chamada__youtube__canal {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.2rem 2rem .9rem;
  position: relative;
  box-sizing: border-box;
}

.icone--youtube::before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-image: url("./wd43-musicdot-arquivos-iniciais/img/icone-youtube.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.canal__titulo {
  color: #e93d50;
  font-size: 1rem;
  font-weight: 700;
  margin-top: .9rem;
  margin-bottom: .1rem;
  letter-spacing: .5px;
}

.canal__texto {
  font-size: .6rem;
  letter-spacing: .8px;
  line-height: 12px;
  margin-bottom: 1rem;
}

.canal__button {
  color: #fff;
  background-color: #e93d50;
}

.video__descricao {
  width: 85%;
}

.descricao__titulo {
  font-size: .9rem;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: .5rem;
}

.descricao__titulo::before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-image: url("./wd43-musicdot-arquivos-iniciais/img/play-button.svg");
  background-size: 100%;
  display: block;
  margin: 1.2rem auto 1rem;
}

.chamada__youtube--video1 {
  background-image: url("./wd43-musicdot-arquivos-iniciais/img/videos-thumbnail-video1.png");
}

.chamada__youtube--video2 {
  background-image: url("./wd43-musicdot-arquivos-iniciais/img/videos-thumbnail-video2.png");
}

.chamada__youtube--video1, .chamada__youtube--video2 {
  background-size: cover;
  width: 100%;
}

@media (min-width: 768px) {
  .chamada__youtube {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "chamada chamada" 
    "video1 video2";
  }

  .youtube__informacao {
    padding: 2rem 17%;
    box-sizing: border-box;
    grid-area: chamada;
  }

  .icone--youtube::before {
    width: 5rem;
    height: 5rem;
  }

  .chamada__youtube--video1 {
    grid-area: video1;
  }

  .chamada__youtube--video2 {
    grid-area: video2;
  }

  .canal__titulo {
    font-size: 1.5rem;
  }

  .descricao__texto {
    font-size: .8rem;
  }
}

@media (min-width: 1200px) {
  .youtube__informacao {
    padding: 4rem 20%;
  }

  .icone--youtube::before {
    width: 6rem;
    height: 6rem;
  }

  .canal__titulo {
    font-size: 2rem;
    margin-bottom: .4rem;
  }

  .canal__texto {
    font-size: 1rem;
    line-height: 1rem;
  }

  .video__descricao {
    width: 75%;
    text-align: left;
  }

  .descricao__titulo {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
  }

  .descricao__texto {
    font-size: .9rem;
  }
}