.chamada__aplicativo {
  color: #fff;
  text-align: center;
  background-color: #f76148;
  padding: 2rem 7.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.aplicativo__titulo {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .8rem;
  line-height: 24px;
  grid-column-end: span 2;
}

.aplicativo__texto {
  line-height: 20px;
  margin-bottom: 15px;
  grid-column-end: span 2;
}

.texto__destaque {
  font-weight: 600;
}

.chamada__aplicativo__button--wrapper {
  display: flex;
  justify-content: space-evenly;
}

.aplicativo__button {
  color: #e93d50;
  font-weight: 600;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  width: 5.9rem;
  padding: 1rem 0 1rem 1rem;
  box-sizing: border-box;
  font-size: .5rem;
  background-size: 1.2rem;
  background-repeat: no-repeat;
}

.app__download--android {
  background-image: url("./wd43-musicdot-arquivos-iniciais/img/icone-android-logo.svg");
  background-position: left .5rem center;
  padding-left: 1.4rem;
}

.app__download--ios {
  background-image: url("./wd43-musicdot-arquivos-iniciais/img/icone-apple-logo.svg");
  background-position: left 1rem top .4rem;
}

.aplicativo--icone {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .2rem;
  vertical-align: middle;
}