.rodape {
  padding: 2em 5%;
  text-align: center;
  font-size: 0.7rem;
}

.rodape__logo {
  width: 11.25em;
  margin-bottom: 1em;
}

.rodape__lista-midias-sociais {
  display: flex;
  justify-content: center;
}

.rodape__infos-empresa {
  line-height: 1.5;
}

.rodape__lista-midias-sociais {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.rodape__item-midias-sociais {
  width: 2.62em;
  margin: 0.25em;
}

.rodape__item-midias-sociais img {
  width: 100%;
}

.rodape__titulo {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.45em;
  font-weight: bold;
  text-transform: uppercase;
}

.rodape__item-lista {
  font-weight: 500;
  margin: 0.625em 0;
}

@media (max-width: 640px) {
  .rodape__secao + .rodape__secao {
    margin-top: 2em;
  }
}

@media (min-width: 640px) {
  .rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
  }

  .rodape__secao--sobre,
  .rodape__secao--cursos,
  .rodape__secao--links,
  .rodape__secao--newsletter {
    width: 45%;
  }

  .rodape__secao--cursos {
    order: 1;
    margin: 0;
  }

  .rodape__secao--links {
    order: 2;
    margin: 0;
  }

  .rodape__secao--sobre {
    order: 3;
    margin-top: 2em;
  }

  .rodape__secao--newsletter {
    order: 4;
    margin-top: 2em;
  }
}