h2 {
  background-color: rgba(210, 105, 30, 0.123);
  padding: 10px 0 10px 0;
}

div {
  background-color: rgb(140, 208, 240);
  height: 10%;
  width: 45%;
  margin: 0;
  padding: 0;
}

code {
  height: 0;
  width: 0;
}

.pre-menor{
  background-color: rgb(140, 208, 240);
  height: 80px;
  width: 0;
}

.pre-menor2 {
  background-color: rgb(140, 208, 240);
  height: 60px;
  width: 0;
}

.pre-menor3 {
  background-color: rgb(140, 208, 240);
  height: 50px;
  width: 0;
}