.cabecalho{
  background-color: #2D5377;
  color: #fff;
  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.23em;
}

.cabecalho__logo {
  padding: 1.5em 0;
  width: 14.5em;
}

.cabecalho__menu {
  background-color: #272B3A87;
}

.cabecalho__item-menu {
  display: inline-block;
}

.cabecalho__item-menu a {
  display: inline-block;
  padding: 1.86em 1.42em;
}