.container {
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 1066px) {
  .cabecalho {
    padding-left: calc((100% - 960px) / 2);
    padding-right: calc((100% - 960px) / 2);
  }
}

@media (min-width: 1440px) {
  .container {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }
}