p {
    color: blue;
    background-color: yellow;
}

/*
Por padrão, os navegadores mais conhecidos exibem texto em um tipo que conhecemos como
"serif". As fontes mais conhecidas (e comumente utilizadas como padrão) são "Times" e
"Times New Roman", dependendo do sistema operacional. Elas são chamadas de fontes
serifadas pelos pequenos ornamentos em suas terminações.

Obs: Fontes monospace podem ser tanto com serifa ou sem serifa. Monospace quer dizer
apenas que todas as letras possuem o mesmo tamanho.
*/

h1 {
    font-family: Serif;
}

h2 {
    font-family: sans-serif;
}

p {
    font-family: monospace;
}

/*
É possível, e muito comum, declararmos o nome de algumas fontes que gostaríamos de
verificar se existem no computador, permitindo que tenhamos um controle melhor da
forma como nosso texto será exibido.

Nesse caso, o navegador verificará se a fonte "Helvetica" está disponível e a utilizará
para exibir os textos de todos os elementos do nosso documento que, por cascata, herdarão
essa propriedade do elemento body.
*/

body {
    font-family: "Helvetica", "Lucida Grande", sans-serif;
}

/*
O exemplo determina que todos os parágrafos da nossa página tenham o texto alinhado
para a direita. Também é possível determinar que um elemento tenha seu conteúdo
alinhado ao centro ao definirmos o valor center para a propriedade text-align , ou
então definir que o texto deve ocupar toda a largura do elemento aumentando o
espaçamento entre as palavras com o valor justify. Por padrão o texto é alinhado à
esquerda, com o valor left , porém é importante lembrar que essa propriedade
propaga-se em cascata.
*/

p {
    line-height: 3px; /* Tamanho da altura de cada linha */
    letter-spacing: 3px; /* Tamanho do espaço entre cada letra */
    word-spacing: 5px; /* Tamanho do espaço entre cada palavra */
    text-indent: 30px; /* tamanho da margem da primeira linha do texto */
}

/*
A propriedade background-image permite indicar um arquivo de imagem para ser exibido
ao fundo do elemento
*/

body {
    background-image: url("https://i.imgur.com/uAhjMNd.jpg");
}

/*
As propriedades do CSS para definirmos as bordas de um elemento nos apresentam uma
série de opções. Podemos, para cada borda de um elemento, determinar sua cor, seu
estilo de exibição e sua largura.
*/

body{
    border: 1px solid red;
}

/*
Para que o efeito da cor sobre a borda surta efeito, é necessário que a propriedade
border-style tenha qualquer valor diferente do padrão none.
Podemos também falar em qual dos lados do nosso elemento queremos a borda usando a
subpropriedade que indica lado:
*/

h1{
    border-top: 1px solid red; /* borda vermelha em cima */
    border-right: 1px solid red; /* borda vermelha à direita */
    border-bottom: 1px solid red; /* borda vermelha embaixo */
    border-left: 1px solid red; /* borda vermelha à esquerda */
}

/*
Propriedades como background-color , color , border-color , entre outras aceitam uma cor
como valor.

O difícil é acertar a exata variação de cor que queremos no design e também cada navegador
tem o seu padrão de cor para os nomes de cores. A W3C obriga que todos os navegadores
tenham pelo menos 140 nomes de cores padronizados, mas existem mais de 16 milhões de cores
na web e seria extremamente complicado nomear cada uma delas. Por isso, é bem incomum
usarmos cores com seus nomes. O mais comum é definir a cor com base em sua composição RGB

Essa sintaxe funciona nos browsers mais modernos e até alguns browsers super antigos mas
não é a mais comum na prática, por questões de compatibilidade. O mais comum é a notação
hexadecimal. Essa sintaxe tem suporte universal nos navegadores e é mais curta de escrever,
apesar de ser mais enigmática.
*/

h1{
    color: red;
}

h2{
    background-color: yellow;;
}

h3{
    color: rgb(255, 200, 0);
    background-color: #f2eded;;
}