/*
Se passado somente um valor oara a propriedade padding, esse mesmo valor é aplicado em todas as direções
*/

p {
  padding: 10px;
}

/*
Se passado dois valores, o primeiro será aplicado acima e abaixo e o segundo será aplicado à direita e à esquerda
*/

p {
  padding: 10px 15px;
}

/*
Se passado tres valores, o primeiro será aplicado acima e abaixo e o segundo será aplicado à direita e à esquerda e o terceiro valor será aplicado abaixo do elemento
*/

p {
  padding: 10px 20px 15px;
}

/*
Se passado quatro valores, serão aplicados respectivamente a padding-top, padding-right, padding-bottom e padding-left. Para facilitar a memorização dessa ordem, basta lembrar que os valores são aplicados em "sentindo horário".
*/

p {
  padding: 10px 20px 15px 5px;
}