.observacao {
  background-color: hsla(59, 100%, 50%, 0.308);
  padding: 10px;
  border: 1px solid red;
  text-align:justify;
}

/* Da maneira que montamos a estrutura acima fica bem fácil saber o que estamos estilizando no CSS. Veja a diferença: */

section h2 {
  /* É o h2 da section que tem os produtos? E se ´recisar mudar minha estrutura para um h3? */
  font-size: 40px;
  font-weight: 800;
}

.produtos__titulo {
  /* Agora aqui eu sei que vou estilizar o título do painel de produtos. Mesmo seu mudar para um h3 */
  font-size: 40px;
  font-weight: 800;
}