h2 {
  background-color: rgba(0, 0, 255, 0.219);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.div-css {
  background-color: rgb(195, 255, 195);
  padding: 20px;
  display: inline-block;
  width: 55%;
}

.pre-css {
  background-color: rgb(195, 255, 195);
  display: inline-block;
  word-wrap: break-word;
  margin: 0;
  padding: 20px;
  width: 45%;
}